.input-container{
  label{
    background-color: white;
    //position: absolute;
    //top:0;
    //right: 20px;
    padding: 0px 5px;
    transition: 0.2s;
    width: fit-content;
  }
  input{
    border:1px solid #ccc;
    border-radius: 10px;
    padding: 10px 0;
    &:focus{
      outline: none;
    }
    &:not(:placeholder-shown){
      + label{
        transform: translateY(15px) scale(0.95);
        color: #777;
      }
      border: 1px solid #ddd;
    }
  }

}