.product-slider{
  h1{
    font-size: 20px;
    font-weight: bold;
    color: #444;
    text-align: right;
    padding-right: 10px;
  }
  .swiper-button-next{
    background-color: white;
    color: #444;
    border-radius: 5px 0 0 5px;
    &:after{
      font-size: 14px;
    }
  }
  .swiper-button-prev{
    background-color: white;
    color: #444;
    border-radius: 0 5px 5px 0;
    &:after{
      font-size: 14px;
    }
  }
}
