.filter-brand{
  .active-brand-filter{
     label{
      color: #3e4ddb;
      &:after{
        background-color: #3e4ddb;
      }
    }
  }

  ul{
    li{
      label{
        cursor: pointer;
        color: #777;
        position: relative;
        padding-right:30px !important;
        &:after{
          position: absolute;
          top:0;
          right: 0;
          content: " ";
          width: 20px;
          height: 20px;
          border:1px solid #ccc;
          border-radius: 5px;
        }
      }
      input{
        display: none;
        background-color: transparent;

      }

    }
  }
}