.filter{
  h1{
    font-size: 24px;
    font-weight: bold;
    color: #444;
    text-align: right;
    padding-right: 10px;
  }
  h4{
    font-size: 14px;
    color: #444;
  }
  ul{
    li{
      color: #777;
      cursor: pointer;
      font-size: 14px;
    }
  }
}