$lightText:#777;

.item-container{
  text-align: right;
  background-color: white;
  border-radius: 7px;
  img{
    border-radius: 7px;
  }
  .brand{
    color: #3e4ddb;
    font-size: 10px;
    font-weight: bold;
  }
  .size{
    ul{
      li{
        margin: 0 2px;
        font-size: 12px;
        color: #777;
        //border:1px solid #D5D5D5;
        border-radius: 5px;
        //padding:5px 2.5px 2.5px 2.5px;
        text-align: right;

      }
    }
  }
  .discount-num{
    position: absolute;
    top:15px;
    right: 0px;
    background-color: #3e4ddb;
    color: white;
    border-radius: 4px;
    padding: 2.5px 7px ;
    font-size: 12px;
    span{
      font-size: 10px;
      margin-right: 5px;
    }
  }
  .desc,.name{
    direction: rtl;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
  }
}

