.detail-nav{
  position: sticky !important;
  top: 0 !important;
  background-color: white;
  z-index: 9;
  padding: 7px 0  0;
  ul{
    .active-detail-nav{
      color: #3E4DDB;
      font-weight: bold;
      //background-color: #dcedff;
      //border-radius: 7px;
      border-bottom: 2px solid #3E4DDB;
    }
    li{
      font-size: 15px;
      padding: 10px 0;
    }
  }
}