.product-info{
  .name{
    font-size: 24px;
    color: #444;
    font-weight: bold;
  }
  .desc{
    color: #999;
  }
  .discount-num{
    color:white;
    background-color:#3E4DDB;
    border-radius: 7px;
    padding: 2.5px 7.5px;
  }
  .last-price{
    font-size: 16px;
  }
  .new-price{
    font-weight: bold;
    font-size: 24px;
    .toman{
      font-size: 14px !important;
    }
  }
}