.search-cat {
  h1 {
    font-size: 20px;
    font-weight: bold;
    color: #444;
    text-align: right;
    padding-right: 10px;
  }

  ul {
    a{
      display: block;
      border-radius: 7px;
      margin: 10px;
      width: calc(50% - 20px);
      li{
        .cat-img{
          padding: 10px;
          border-radius:7px ;
          height: 45px;
        }
      }
      &:nth-child(6n+1){
        background-color: #D5E7FF;
        .cat-name{
          color:#3E4DDB;
        }
        .cat-img{
          background-color:#C8E0FF ;
        }
      }
      &:nth-child(6n+2){
        background-color: #D5FFDD;
        .cat-name{
          color:#3B914B;
        }
        .cat-img{
          background-color:#BAFCC7 ;
        }
      }
      &:nth-child(6n+3){
        background-color: #FFD5D5;
        .cat-name{
          color:#DB3E3E;
        }
        .cat-img{
          background-color:#FFC1C1 ;
        }
      }
      &:nth-child(6n+4){
        background-color: #FFD5F8;
        .cat-name{
          color: #DB3ED1;
        }
        .cat-img{
          background-color:#FBC5F2 ;
        }
      }
      &:nth-child(6n+5){
        background-color: #FFE7D5;
        .cat-name{
          color: #A37220;
        }
        .cat-img{
          background-color:#FCDBC1 ;
        }
      }
      &:nth-child(6n+6){
        background-color: #FFFFD5;
        .cat-name{
          color: #8D8D1C;

        }
        .cat-img{
          background-color:#FBFBA0 ;
        }
      }
    }
  }

}