.search-cat h1 {
  font-size: 20px;
  font-weight: bold;
  color: #444;
  text-align: right;
  padding-right: 10px;
}
.search-cat .cat-img {
  border-radius: 7px;
  overflow: hidden;
}
.search-cat .cat-name {
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  left: 15px;
}
.search-cat ul a {
  display: block;
  border-radius: 7px;
  margin: 5px;
  width: calc(100% - 0px);
}
.search-cat ul a li .cat-img {
  border-radius: 7px;
}
.search-cat ul a:nth-child(6n+1) {
  background-color: #D5E7FF;
}
.search-cat ul a:nth-child(6n+1) .cat-name {
  color: #003765;
}
.search-cat ul a:nth-child(6n+1) .cat-img {
  background-color: #C8E0FF;
}
.search-cat ul a:nth-child(6n+1) svg {
  transform: scale(0.6);
}
.search-cat ul a:nth-child(6n+1) svg g:nth-child(1) {
  fill: #7cb5ff;
}
.search-cat ul a:nth-child(6n+1) svg g:nth-child(4) {
  fill: #7cb5ff;
}
.search-cat ul a:nth-child(6n+1) svg g:nth-child(3) {
  fill: #2f8aff;
}
.search-cat ul a:nth-child(6n+1) svg g:nth-child(2) {
  fill: #2f8aff;
}
.search-cat ul a:nth-child(6n+2) {
  background-color: #D5FFDD;
}
.search-cat ul a:nth-child(6n+2) .cat-name {
  color: #032109;
}
.search-cat ul a:nth-child(6n+2) .cat-img {
  background-color: #BAFCC7;
}
.search-cat ul a:nth-child(6n+2) svg {
  transform: scale(0.6);
}
.search-cat ul a:nth-child(6n+2) svg g:nth-child(1) {
  fill: #71f98c;
}
.search-cat ul a:nth-child(6n+2) svg g:nth-child(4) {
  fill: #71f98c;
}
.search-cat ul a:nth-child(6n+2) svg g:nth-child(3) {
  fill: #27f650;
}
.search-cat ul a:nth-child(6n+2) svg g:nth-child(2) {
  fill: #27f650;
}
.search-cat ul a:nth-child(6n+3) {
  background-color: #FFD5D5;
}
.search-cat ul a:nth-child(6n+3) .cat-name {
  color: #110b69;
}
.search-cat ul a:nth-child(6n+3) .cat-img {
  background-color: #FFC1C1;
}
.search-cat ul a:nth-child(6n+3) svg {
  transform: scale(0.6);
}
.search-cat ul a:nth-child(6n+3) svg g:nth-child(1) {
  fill: #ff7575;
}
.search-cat ul a:nth-child(6n+3) svg g:nth-child(4) {
  fill: #ff7575;
}
.search-cat ul a:nth-child(6n+3) svg g:nth-child(3) {
  fill: #ff2828;
}
.search-cat ul a:nth-child(6n+3) svg g:nth-child(2) {
  fill: #ff2828;
}
.search-cat ul a:nth-child(6n+4) {
  background-color: #FFD5F8;
}
.search-cat ul a:nth-child(6n+4) .cat-name {
  color: #7b2a00;
}
.search-cat ul a:nth-child(6n+4) .cat-img {
  background-color: #FBC5F2;
}
.search-cat ul a:nth-child(6n+4) svg {
  transform: scale(0.6);
}
.search-cat ul a:nth-child(6n+4) svg g:nth-child(1) {
  fill: #f67de2;
}
.search-cat ul a:nth-child(6n+4) svg g:nth-child(4) {
  fill: #f67de2;
}
.search-cat ul a:nth-child(6n+4) svg g:nth-child(3) {
  fill: #f136d2;
}
.search-cat ul a:nth-child(6n+4) svg g:nth-child(2) {
  fill: #f136d2;
}
.search-cat ul a:nth-child(6n+5) {
  background-color: #FFE7D5;
}
.search-cat ul a:nth-child(6n+5) .cat-name {
  color: #6f6208;
}
.search-cat ul a:nth-child(6n+5) .cat-img {
  background-color: #FCDBC1;
}
.search-cat ul a:nth-child(6n+5) svg {
  transform: scale(0.6);
}
.search-cat ul a:nth-child(6n+5) svg g:nth-child(1) {
  fill: #f8b178;
}
.search-cat ul a:nth-child(6n+5) svg g:nth-child(4) {
  fill: #f8b178;
}
.search-cat ul a:nth-child(6n+5) svg g:nth-child(3) {
  fill: #f5862f;
}
.search-cat ul a:nth-child(6n+5) svg g:nth-child(2) {
  fill: #f5862f;
}
.search-cat ul a:nth-child(6n+6) {
  background-color: #FFFFD5;
}
.search-cat ul a:nth-child(6n+6) .cat-name {
  color: #004a39;
}
.search-cat ul a:nth-child(6n+6) .cat-img {
  background-color: #FBFBA0;
}
.search-cat ul a:nth-child(6n+6) svg {
  transform: scale(0.6);
}
.search-cat ul a:nth-child(6n+6) svg g:nth-child(1) {
  fill: #f8f857;
}
.search-cat ul a:nth-child(6n+6) svg g:nth-child(4) {
  fill: #f8f857;
}
.search-cat ul a:nth-child(6n+6) svg g:nth-child(3) {
  fill: #f5f50d;
}
.search-cat ul a:nth-child(6n+6) svg g:nth-child(2) {
  fill: #f5f50d;
}
.search-cat ul a:nth-child(6n+7) {
  background-color: #FFFFD5;
}
.search-cat ul a:nth-child(6n+7) .cat-name {
  color: #650061;
}
.search-cat ul a:nth-child(6n+7) .cat-img {
  background-color: #FBFBA0;
}
.search-cat ul a:nth-child(6n+7) svg {
  transform: scale(0.6);
}
.search-cat ul a:nth-child(6n+7) svg g:nth-child(1) {
  fill: #f8f857;
}
.search-cat ul a:nth-child(6n+7) svg g:nth-child(4) {
  fill: #f8f857;
}
.search-cat ul a:nth-child(6n+7) svg g:nth-child(3) {
  fill: #f5f50d;
}
.search-cat ul a:nth-child(6n+7) svg g:nth-child(2) {
  fill: #f5f50d;
}

/*# sourceMappingURL=SearchCat.css.map */
