.search-cat{
  h1{
    font-size: 20px;
    font-weight: bold;
    color: #444;
    text-align: right;
    padding-right: 10px;
  }
  .procat-item-container{
    width: calc(50% - 10px);
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;

    .cat-img{
      //display: block;
    }
    .cat-name{
      //display: block;
      //width: 100%;
    }
    &:nth-child(1){
      background-color: #D5E7FF;
      .cat-name{
        color:#3E4DDB;
      }
    }
    &:nth-child(2){
      background-color: #D5FFDD;
      .cat-name{
        color:#3B914B;
      }
    }
    &:nth-child(3){
      background-color: #FFD5D5;
      .cat-name{
        color:#DB3E3E;
      }

    }
    &:nth-child(4){
      .cat-name{
        color: #DB3ED1;
      }
      background-color: #FFD5F8;

    }
    &:nth-child(5){
      background-color: #FFE7D5;
      .cat-name{
        color: #A37220;
      }

    }
    &:nth-child(6){
      background-color: #FFFFD5;
      .cat-name{
        color: #8D8D1C;
      }
    }
  }

}