.pro-cat h1 {
  font-size: 20px;
  font-weight: bold;
  color: #444;
  text-align: right;
  padding-right: 10px;
}
.pro-cat .swiper-slide {
  border-radius: 10px;
  padding: 10px 10px;
}
.pro-cat .swiper-slide:nth-child(6n+1) {
  background-color: #D5E7FF;
}
.pro-cat .swiper-slide:nth-child(6n+1) .cat-name {
  color: #3E4DDB;
}
.pro-cat .swiper-slide:nth-child(6n+1) svg {
  transform: scale(0.7);
}
.pro-cat .swiper-slide:nth-child(6n+1) svg g:nth-child(1) {
  fill: #7cb5ff;
}
.pro-cat .swiper-slide:nth-child(6n+1) svg g:nth-child(4) {
  fill: #7cb5ff;
}
.pro-cat .swiper-slide:nth-child(6n+1) svg g:nth-child(3) {
  fill: #2f8aff;
}
.pro-cat .swiper-slide:nth-child(6n+1) svg g:nth-child(2) {
  fill: #2f8aff;
}
.pro-cat .swiper-slide:nth-child(6n+2) {
  background-color: #D5FFDD;
}
.pro-cat .swiper-slide:nth-child(6n+2) .cat-name {
  color: #3B914B;
}
.pro-cat .swiper-slide:nth-child(6n+2) svg {
  transform: scale(0.6);
}
.pro-cat .swiper-slide:nth-child(6n+2) svg g:nth-child(1) {
  fill: #71f98c;
}
.pro-cat .swiper-slide:nth-child(6n+2) svg g:nth-child(4) {
  fill: #71f98c;
}
.pro-cat .swiper-slide:nth-child(6n+2) svg g:nth-child(3) {
  fill: #27f650;
}
.pro-cat .swiper-slide:nth-child(6n+2) svg g:nth-child(2) {
  fill: #27f650;
}
.pro-cat .swiper-slide:nth-child(6n+3) {
  background-color: #FFD5D5;
}
.pro-cat .swiper-slide:nth-child(6n+3) .cat-name {
  color: #DB3E3E;
}
.pro-cat .swiper-slide:nth-child(6n+3) svg {
  transform: scale(0.6);
}
.pro-cat .swiper-slide:nth-child(6n+3) svg g:nth-child(1) {
  fill: #ff7575;
}
.pro-cat .swiper-slide:nth-child(6n+3) svg g:nth-child(4) {
  fill: #ff7575;
}
.pro-cat .swiper-slide:nth-child(6n+3) svg g:nth-child(3) {
  fill: #ff2828;
}
.pro-cat .swiper-slide:nth-child(6n+3) svg g:nth-child(2) {
  fill: #ff2828;
}
.pro-cat .swiper-slide:nth-child(6n+4) {
  background-color: #FFD5F8;
}
.pro-cat .swiper-slide:nth-child(6n+4) .cat-name {
  color: #DB3ED1;
}
.pro-cat .swiper-slide:nth-child(6n+4) svg {
  transform: scale(0.6);
}
.pro-cat .swiper-slide:nth-child(6n+4) svg g:nth-child(1) {
  fill: #f67de2;
}
.pro-cat .swiper-slide:nth-child(6n+4) svg g:nth-child(4) {
  fill: #f67de2;
}
.pro-cat .swiper-slide:nth-child(6n+4) svg g:nth-child(3) {
  fill: #f136d2;
}
.pro-cat .swiper-slide:nth-child(6n+4) svg g:nth-child(2) {
  fill: #f136d2;
}
.pro-cat .swiper-slide:nth-child(6n+5) {
  background-color: #FFE7D5;
}
.pro-cat .swiper-slide:nth-child(6n+5) .cat-name {
  color: #A37220;
}
.pro-cat .swiper-slide:nth-child(6n+5) svg {
  transform: scale(0.6);
}
.pro-cat .swiper-slide:nth-child(6n+5) svg g:nth-child(1) {
  fill: #f8b178;
}
.pro-cat .swiper-slide:nth-child(6n+5) svg g:nth-child(4) {
  fill: #f8b178;
}
.pro-cat .swiper-slide:nth-child(6n+5) svg g:nth-child(3) {
  fill: #f5862f;
}
.pro-cat .swiper-slide:nth-child(6n+5) svg g:nth-child(2) {
  fill: #f5862f;
}
.pro-cat .swiper-slide:nth-child(6n+6) {
  background-color: #FFFFD5;
}
.pro-cat .swiper-slide:nth-child(6n+6) .cat-name {
  color: #8D8D1C;
}
.pro-cat .swiper-slide:nth-child(6n+6) svg {
  transform: scale(0.6);
}
.pro-cat .swiper-slide:nth-child(6n+6) svg g:nth-child(1) {
  fill: #f8f857;
}
.pro-cat .swiper-slide:nth-child(6n+6) svg g:nth-child(4) {
  fill: #f8f857;
}
.pro-cat .swiper-slide:nth-child(6n+6) svg g:nth-child(3) {
  fill: #f5f50d;
}
.pro-cat .swiper-slide:nth-child(6n+6) svg g:nth-child(2) {
  fill: #f5f50d;
}

/*# sourceMappingURL=ProCat.css.map */
