.detail-color{
  .swiper-slide{
    & > img {
      border-radius: 7px;
      cursor: pointer;
      border:1px solid #ddd;
      &:hover{
        border:1px solid #bbb
      }
    }
  }
  .selected-color{
    display: flex !important;
    background-color: #3E4DDB;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .selected-color-check{
    display: flex;
  }
  .swiper-button-next,.swiper-button-prev{
    background-color: white;
    color: #999;
    border-radius: 5px;
    padding: 5px ;
    &:after{
      font-size: 14px;
      font-weight: bold;
    }
    &:hover{
      color: #3e4ddb;
    }
  }
  .swiper-size-pagination{
    left:50%;
    transform: translateX(-50%);
    span{
      margin:0 2.5px;
    }
  }
  .swiper-pagination-bullet{
    width:5px;
    height: 5px;
  }
  .swiper-pagination-bullet-active{
    background-color: #3E4DDB;
  }
}